* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.app {
    background-color: rgb(14, 148, 104);
    height: 100%;
    color: currentColor;
}

.app__title {
    color: white;
    font-size: 48px;
    text-align: center;
}